.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  transition: all 2s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotateSong {
  animation: rotate 8s linear forwards infinite;
}
