@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.stats {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.stat1,
.stat2 {
  text-align: center;
  flex: 2 20rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 10px 10px 10px 10px rgba(151, 5, 236, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
}
.stat1 h2,
.stat2 h2 {
  padding: 1rem;
  line-height: 1.8;
  font-size: 2.2rem;
}

.stat1 p,
.stat2 p {
  padding: 2rem;
}
